@using Data.Data.Entities;
@using Data.Data;
@model List<Product>;
@inject ShopDbContext context;
@{
    ViewData["Title"] = "Home Page";
}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex flex-column">
        <!--
        <div class="d-flex justify-content-between w-100" id="navbarSupportedContent">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Category
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                    </ul>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Only NEW
                    </label>
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        -->
        <div class="container text-center mt-3">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var i in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <h5 class="card-title mt-2">@i.Name</h5>
                            <img height="240" src="@i.ImageUrl" class="card-img-top" alt="...">
                            <p>
                                @i.Category?.Name
                            </p>
                            <div class="m-2">
                                @if(i.Description != null){
                                    <p class="text-start">
                                        @i.Description
                                    </p>
                                }
                                <div class="d-flex justify-content-between">
                                    <p>@i.Location</p>
                                    <h5 class="text-end">
                                        @if (i.Discount > 0)
                                        {
                                            <del class="small text-secondary fs-6">@i.Price$</del>

                                            <br />

                                        }
                                        @(i.Price - (i.Price * i.Discount / 100M))$
                                    </h5>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between">
                                <input style="width: 100px" type="number" min="1" max="@i.Quantity" value="1" class="form-control">
                                <small class="text-muted">
                                    <a asp-controller="Cart" asp-action="Append" asp-route-id="@i.Id" asp-route-id="@i.Id" class="btn btn-primary">
                                        Add to Cart
                                    </a>
                                </small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</nav>