@using Data.Data.Entities;
@using Data.Data;
@model List<Product>;
@inject ShopDbContext context;
<h1>Products List</h1>
<table id="product-table" class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>
            <th scope="col">Contact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr class="align-middle">

                <th scope="row">@i.Id</th>
                <td>
                    <img height="45" src="@i.ImageUrl" alt="Product Image" />
                </td>
                <td>
                    @i.Name
                    @if (i.Discount > 0)
                    {
                        <span class="badge bg-primary">SALE</span>
                    }
                </td>
                <td>
                    @if (i.Discount > 0)
                    {
                        <del class="small">@i.Price$</del>

                        <br />

                    }
                    @(i.Price - (i.Price * i.Discount / 100M))$
                </td>
                <td>
                    @{
                        var category = context.Categories.Find(i.CategoryId);
                        string categoryName = category != null ? category.Name : "not loaded";
                    }
                    @categoryName
                </td>
                <td>@i.Discount%</td>
                <td>
                    @if (i.Quantity > 0)
                    {
                        @*  <span class="badge bg-success">In Stock</span> *@
                        <span class="badge bg-success">@i.Quantity</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary">X</span>
                    }
                </td>
                <td>
                    @if(i.Status == true){
                        <span>New</span>
                    }
                    else
                    {
                        <span>Used</span>
                    }
                </td>
                <td>
                    <span>@i.Contact</span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@i.Id" class="btn btn-warning">Edit</a>
                     <a asp-action="Delete" asp-route-id="@i.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>Counts: #@Model.Count</p>